@model IEnumerable<TallerCaldera.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientIdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMaintenanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SketchMarksJson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMaintenanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OilType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SketchMarksJson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
